@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Caesar+Dressing&family=Calligraffitti&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    font-family: "Beau Rivage", cursive;
    letter-spacing: 2px;
    color:white;
    font-size: x-large;
}

h1{
    text-align: center;
    font-size: 5vh;
    color: black;
}
#mainTitle{
    display: block;
    width: 100%;
    background-color: blue;
    margin: 0;
    h2{
        text-align: center;
        margin: 0;
        letter-spacing: 0px;
        font-size: 4vh;
        color: yellow;
    }
}


body{
    background-color: black;
    align-content: center;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 12pt;
    padding: 12pt;
    img {
        width: auto;
        max-width: 8vh;
        height: fit-content;
    }
    background-color: grey;
}

main {
    border: blue;
    border-radius: 0;
    border-style: solid;
    border-width: 3pt;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0pt;
    padding-bottom: 0pt;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-color: black;
}

footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding:12pt;
    background-color: blue;
}

button{
    color: black;
    width: fit-content;
    font-size: 3vh;
    height: 8vh;
    padding-right: 6pt;
    padding-left: 6pt;
    border-radius: 0px;
    border: none;
    background-color: red;
}

button:hover
{
    border: yellow;
    border-radius: 0%;
    border-width: 3pt;
    border-style: solid;
    padding-right: 3pt;
    padding-left: 3pt;
    color: black;
    background-color: blue;
}

button:active{
    border: yellow;
    border-radius: 0%;
    border-width: 3pt;
    border-style: solid;
    padding-right: 3pt;
    padding-left: 3pt;
    color: yellow;
    background-color: blue;
}

button:focus{
    border: magenta;
    border-radius: 0%;
    border-width: 3pt;
    border-style: solid;
    padding-right: 3pt;
    padding-left: 3pt;
}

#outter-frame{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    aside{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0;
        border-style: solid;
        border-radius: 0;
        border: blue;
        border-width: 3pt;
        flex-basis: content;
        background-color: blue;
        .inactive{
            background-color: blue;
            color: yellow;
        }
        .active{
            background-color: black;
            color: white;
        }
    }

    #inner-frame{
        margin: 12pt;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items:center;
        img{    
                border: blue;
                border-radius: 0;
                border-style: solid;
                border-width: 3pt;
                width: 100%;
                flex-basis: 24%;
        }
        p{
        text-align: justify;
        flex-basis: 24%;
        }
    }
}

@media only screen and (max-width: 1920px){
#outter-frame{
    #inner-frame{
        img{
            order:2;
            flex-basis: 32%;
        }
        p{
            order:1;
            flex-basis: 32%;
        }
    }
}
}

@media only screen and (max-width: 1280px){
#outter-frame{
    #inner-frame{
        img{
            order: 2;
            flex-basis: 48%;
        }
        p{
            order: 1;
            flex-basis: 48%;
        }
    }
}
}

@media only screen and (max-width: 900px){
#outter-frame{
    flex-direction: column;
    aside{
        justify-content: center;
        flex-direction: row;
        order: 2;
    }
    #inner-frame{
        width: fit-content;
        order:1;
        img{
            order: 1;
            flex-basis: 100%;
        }
        p{
            order: 2;
            flex-basis: 100%;
        }
    }
}
}