  @font-face {
    font-family: 'OpenComics';
    src: url('../Fonts/OpenComics.otf');
    font-weight: normal;
    font-style: normal;
    
  }
  
@font-face {
    font-family: 'OpenSerifComics';
    src: url('../Fonts/OpenSerifComics.otf');
    font-weight: normal;
    font-style: normal;
  }

*{
    font-family: "OpenComics";
    letter-spacing: 2px;
    color:#ffffff;
    font-size: x-large;
}

h1{
    font-family: OpenSerifComics, sans-serif;
    font-size: 5vh;
    text-align: center;
}
h2{
    font-family: OpenSerifComics, sans-serif;
    font-size: 4vh;
}

body{
    background-color: black;
    align-content: center;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    column-gap: 12pt;
    padding: 12pt;
    img {
        width: auto;
        max-width: 8vh;
    }
    background-image: url('../Image/Backgrounds/Cloth.webp');
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 12pt;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-image: url('../Image/Backgrounds/Wall.webp');
}

footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding:12pt;
    background-image: url('../Image/Backgrounds/Books.webp');
}

button{
    font-size: 3vh;
    height: 8vh;
    padding-right: 2vh;
    padding-left: 2vh;
    border-radius: 0px;
    border: none;
    background-image: url('../Image/Backgrounds/Rice.webp');

}

button:hover
{
    background-image: url('../Image/Backgrounds/Wall.webp');
}

button:active{
    background-image: url('../Image/Backgrounds/Cloth.webp');
}

button:focus{
    border: #ffffff;
    border-radius: 0%;
    border-width: 1vh;
    border-style: solid;
    padding-right: 1vh;
    padding-left: 1vh;
}

#outter-frame{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#inner-frame{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    img{
            width: 100%;
            flex-basis: 24%;
    }
    p{
        text-align: justify;
        flex-basis: 24%;
    }
}

@media only screen and (max-width: 1920px){

    #inner-frame{
        img{
            order:2;
            flex-basis: 32%;
        }
        p{
            order:1;
            flex-basis: 32%;
        }
    }
}

@media only screen and (max-width: 1280px){

    #inner-frame{
        img{
            order: 2;
            flex-basis: 48%;
        }
        p{
            order: 1;
            flex-basis: 48%;
        }
    }
}

@media only screen and (max-width: 900px){

    #inner-frame{
        img{
            order: 1;
            flex-basis: 100%;
        }
        p{
            order: 2;
            flex-basis: 100%;
        }
    }
}